<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <h2>
            [[${pageTitle}]]
        </h2>
    </div>
    <form th:action="@{/disciplinas/save}" method="post" th:object="${disciplina}" style="max-width: 600px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="row">
                <label class="col-sm-4 col-form-label">nombreDisciplina</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nombreDisciplina}" class="form-control" required minlength="1" maxlength="50"/>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">categoria</label>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{categoria}" value="Equipo" id="equipo" required>
                        <label class="form-check-label" for="equipo">Equipo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:field="*{categoria}" value="Individual" id="individual" required>
                        <label class="form-check-label" for="individual">Individual</label>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary m-2">Guardar</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancel()">Cancelar</button>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript">
    function cancel() {
        window.location = "[[@{/disciplinas}]]";
    }
</script>
</body>
</html>